<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
  <link rel="stylesheet" href="css/styles.css">
</header>

<main>
    <%- include('../partials/main'); %>
    <link rel="stylesheet" href="css/styles.css">
</main>

<footer>
  <%- include('../partials/footer'); %>
  <link rel="stylesheet" href="css/styles.css">
</footer>

</body>
</html>