<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="css/styles.css">
      </head>
      <body>
        <header>
            <%- include('../partials/header'); %>
          </header>

          <main class="container">
            <section class="introduction">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <p class="fs-1 fw-bold">Projects</p>
                    <p class="mw">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum consequuntur magni ea qui? Odit tempora dolorem, provident molestiae facilis aperiam.</p>
                </div>
            </section>
    
            <section>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-4"><span>HTML AND CSS </span></h2>
                    </div>
                    <div class="col-12">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="/images/project/project1.png" class="img-fluid rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Car Moving Animation</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              <a href="https://64f88bbe767e58175efd3650--melodious-cheesecake-62d26f.netlify.app/" target="_blank">
                              <button type="button" class="btn btn-light  border border-secondary border-2">LIVE DEMO</button></a>
                              <a href="https://github.com/Bharath5052/HtmlAndCss/tree/main/movingCar" target="_blank">
                              <button type="button" class="btn btn-dark">SOURCE CODE</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                    
                    <div class="col-12">
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="/images/project/project2.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">City Skyline</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <a href="https://64f8943f9d6a7a1d47b4f216--frabjous-faloodeh-c9a33f.netlify.app/" target="_blank">
                                  <button type="button" class="btn btn-light  border border-secondary border-2">LIVE DEMO</button></a>
                                  <a href="https://github.com/Bharath5052/HtmlAndCss/tree/main/CitySkyline" target="_blank">
                                  <button type="button" class="btn btn-dark">SOURCE CODE</button></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> 
                </div>
            </section>

        </main>
        <footer>
            <%- include('../partials/footer'); %>
            <link rel="stylesheet" href="css/styles.css">
          </footer>
      </body>

    </html>
